<div class="modal-header">
        <h3 class="modal-title">Social Pool for {{userName}}</h3>
    </div>
    <div class="modal-body">
            <h4 style="color: #3498db;">Process interactions from {{userName}}</h4>
            <div class="panel panel-default">
                <div class="panel-heading">
                        <span ng-repeat="process in dataSets">
                            <a ng-click="gotoProcess(process.defId)" class="label-info">{{process.defId}}</a><br>
                        </span>
                </div>
            </div>
            <h4 style="color: #3498db;">Tag interactions from {{userName}}</h4>
            <div class="panel panel-default">
                <div class="panel-heading">
                        <span ng-repeat="process in dataSets">
                            <a ng-click="#" class="label-info">{{process.tagName}}</a><br>
                        </span>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="applySettings()" ng-disabled="!pluginSettings.supported">Apply Settings</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>