<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h4 style="color: #3498db;">Tags</h4>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span ng-repeat="tag in processTags">
                        <span class="badge">{{tag.tagName}}</span><span style="color: #a0ddff;" class="badge" ng-click="deleteTagModal(tag)">X</span></span>
                </div>
            </div>
            <h4 style="color: #3498db;">Users in process</h4>
            <div class="panel panel-default">
                <div class="panel-heading">
                     <span ng-repeat="user in processUsers">
                        <span class="badge">{{user.user}}</span></span>
                 </div>
            </div>
        </div>
        <div class="col-md-4">
                <h4 style="color: #3498db;">new Tag</h4>
                <form class="form" accept-charset=utf-8>
                    <div class="form-group">
                        <input type="text" class="form-control" id="InputName" placeholder="Tagname" data-ng-model="tag.name" list="tagtitle">
                    </div>
                    <button type="submit" ng-click="setTag(tag)" class="btn btn-primary">Generate</button>
                </form>
                <h4 style="color: #3498db;">new blogpost</h4>
                <form class="form" accept-charset=utf-8>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="post.caption" id="InputCaption" placeholder="Caption">
                        <textarea type="text" class="form-control" ng-model="post.name" id="InputPost" placeholder="Post"></textarea>
                    </div>
                    <button type="submit" ng-click="setPost(post)" class="btn btn-primary">Generate</button>
                </form>
                <datalist id="tagtitle">
                    <option data-ng-repeat="tag in tags" value="{{tag.tagName}}">
                </datalist>
        </div>
        <div class="col-md-4">
            <h4 style="color: #3498db;">Microblog for process</h4>
            <div style="overflow: auto; height: 300px">
                <ul class="list-unstyled">
                    <li ng-repeat="post in processPosts">
                        <blockquote>
                            <i class="glyphicon" ng-class="{'glyphicon-pencil' : post.tagStatus=='false', 'glyphicon-alert' : post.tagStatus=='true'}"></i><strong style="color: dodgerblue;"> {{post.caption}}</strong><br>
                            {{post.tagName}}
                            <cite class="clearfix"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span style="color: dodgerblue;">{{post.user}}</span> on {{post.time | date}}</cite>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>